
h1{
	text-align: center;
	color: white;
	font-size: 40px;
}

a{
	color: black;  
	display:block;
	text-align: center;
	font-weight: bold;
	font-style: italic;
	font-size: 30px;
}

img{
	border-radius: 20px;
	display: block;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

body{
	background-color: none;
	background-image: url("wallpaper.png");
	background-size: cover;
	background-repeat: no-repeat;
}

.resumedates{
	margin-top: 5px;
	margin-bottom: 5px;
	font-style: italic;
}

.roles{
	margin-top: 25px;
	font-weight: bold;
}

.headers{
	color: #4402CF;
	margin-left: 20px;
}